
div#adspot_411974223.adspot {
border-spacing:0;
overflow:hidden;
background-color:#ffffff;
border-color:#000000;
border-width:0px;
border-style:none;
width:162px !important;
font-size:10pt;
}
div#adspot_411974223 .adspot_head {
font-family:Arial;
font-size:10pt;
color:#000000;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
}
div#adspot_411974223 a.adspot_link {
font-family:Arial;
font-size:8pt;
font-style:normal;
color:#477596;
font-weight:normal;
margin:0;
padding:0;
display: inline;
text-decoration:underline;
text-align:left;
background-image: none;
}
div#adspot_411974223 a.adspot_link:link, div#adspot_411974223 a.adspot_link:visited {
color:#477596;
text-decoration:underline;
font-size:8pt;
font-style:normal;
}
div#adspot_411974223 a.adspot_link:active, div#adspot_411974223 a.adspot_link:hover {
color:#477596;
text-decoration:none;
}
div#adspot_411974223 a.adspot_adurl {
font-family:Arial;
font-size:8pt;
font-style:normal;
color:#477596;
font-weight:normal;
margin:0;
padding:0;
display: inline;
text-decoration:underline;
text-align:left;
background-image: none;
}
div#adspot_411974223 a.adspot_adurl:link, div#adspot_411974223 a.adspot_adurl:visited {
color:#477596;
text-decoration:underline;
font-size:8pt;
font-style:normal;
}
div#adspot_411974223 a.adspot_adurl:active, div#adspot_411974223 a.adspot_adurl:hover {
color:#477596;
text-decoration:none;
}
div#adspot_411974223 * ul {
list-style-position:outside;
list-style-image:none;
list-style-type:none;
width:162px;
margin:0;
padding:0;
}
div#adspot_411974223 * li {
background:#FFFFFF;
width:160px;
margin:0;
margin-bottom:5px;
padding:0;
text-align:left;
border-color:#b3b6b9;
border-width:1px;
border-style:solid;
    
border-bottom-color:lightgray;
border-bottom-style:none;

border-bottom-width:0px;
border-spacing:0;
display:block;
text-indent:0;
overflow:hidden;
line-height: 12px;
}
div#adspot_411974223 span.blogad_rss_ad ul {
max-height: 200px;
overflow: auto;
width: auto;
}
div#adspot_411974223 span.blogad_rss_ad li {
border-width: 0;
border-bottom: 1px dotted #606060;
padding-bottom: 5px;
width: auto;
margin-right: 2px;
}
div#adspot_411974223 span.blogad_rss_ad a:link {
color: #3366ff;
}
div#adspot_411974223 span.blogad_rss_ad a:visited {
color: #1e3d99;
}
div#adspot_411974223 .adspot_adhead {
text-align:left;
font-family:Arial;
font-size:10pt;
font-weight:bold;
color:#000000;
margin:0;
padding:2px;
border-spacing:0;
width:160px;
display:block;
}
div#adspot_411974223 * img {
border-width:0;
border-spacing:0;
}
div#adspot_411974223 * li * img {
text-align:center;
display:block;
clear:both;
margin:auto;
}
div#adspot_411974223 .adspot_adtext {
font-family:Arial;
font-size:8pt;
font-weight:normal;
font-style:normal;
color:#000000;
margin:0;
padding:4px 4px 0 4px;
border-spacing:0;
display:block;
clear:both;
width:154px;
text-align:left;
}
div#adspot_411974223 div.adspot_link {
width:162px !important;
text-align:left;
padding: 0 4px 4px 4px;
}
div#adspot_411974223 div.adspot_adurl {
text-align:left;
padding: 4px;
}

div#adspot_411974223 div.tweet_button_container input{
background: url("http://i.blogads.com/static/tweet_button/blogads-tweet-this-button.png") no-repeat scroll center center transparent;
border: medium none;
color: #676767 !important;
font-family: Arial,Helvetica,sans-serif;
font-weight: bold;
height: 36px;
width: 150px;
text-align: center !important;
cursor:pointer;
}
div#adspot_411974223 div.tweet_button_container{
text-align:center;
}

div#adspot_411974223.adspot_classic_adverpost {
border-spacing:0;
overflow:hidden;
background-color:#ffffff;
border-color:#000000;
border-width:0px;
border-style:none;
width:162px !important;
font-size:10pt;
}
div#adspot_411974223 .adspot_head_classic_adverpost {
font-family:Arial;
font-size:10pt;
color:#000000;
font-weight:bold;
font-style:normal;
text-decoration:none;
text-align:left;
}
div#adspot_411974223 a.adspot_link_classic_adverpost {
font-family:Arial;
font-size:8pt;
font-style:normal;
color:#477596;
font-weight:normal;
margin:0;
padding:0 5px 0 0;
display: inline;
text-decoration:underline;
text-align:left;
background-image: none;
}

div#adspot_411974223 a.adspot_adurl_classic_adverpost {
font-family:Arial;
font-size:8pt;
font-style:normal;
color:#477596;
font-weight:normal;
margin:0;
padding:0 5px 0 0;
display: inline;
text-decoration:underline;
text-align:left;
background-image: none;
}

div#adspot_411974223 a.adspot_link_classic_adverpost:link, div#adspot_411974223 a.adspot_link_classic_adverpost:visited {
color:#477596;
text-decoration:underline;
font-size:8pt;
font-style:normal;
}
div#adspot_411974223 a.adspot_link_classic_adverpost:active, div#adspot_411974223 a.adspot_link_classic_adverpost:hover {
color:#477596;
text-decoration:none;
}

div#adspot_411974223 a.adspot_adurl_classic_adverpost:link, div#adspot_411974223 a.adspot_adurl_classic_adverpost:visited {
color:#477596;
text-decoration:underline;
font-size:8pt;
font-style:normal;
}
div#adspot_411974223 a.adspot_adurl_classic_adverpost:active, div#adspot_411974223 a.adspot_adurl_classic_adverpost:hover {
color:#477596;
text-decoration:none;
}
div#adspot_411974223 * ul {
list-style-position:outside;
list-style-image:none;
list-style-type:none;
width:162px;
margin:0;
padding:0;
}
div#adspot_411974223 * li {
background:#FFFFFF;
width:160px;
margin:0;
margin-bottom:5px;
padding:0;
text-align:left;
border-color:#b3b6b9;
border-width:1px;
border-style:solid;

border-bottom-color:lightgray;
border-bottom-style:none;

border-bottom-width:0px;
border-spacing:0;
display:block;
text-indent:0;
overflow:hidden;
line-height: 12px;
}
div#adspot_411974223 span.blogad_rss_ad_adverpost ul {
max-height: 400px;
overflow: auto;
width: auto;
}
div#adspot_411974223 span.blogad_rss_ad_adverpost li {
border-width: 0;
border-bottom: 1px dotted #606060;
padding-bottom: 5px;
width: auto;
margin-right: 2px;
}
div#adspot_411974223 span.blogad_rss_ad_adverpost a:link {
color: #3366ff;
}
div#adspot_411974223 span.blogad_rss_ad_adverpost a:visited {
color: #1e3d99;
}
div#adspot_411974223 .adspot_adhead_classic_adverpost {
text-align:left;
font-family:Arial;
font-size:10pt;
font-weight:bold;
color:#000000;
margin:0;
padding:2px;
border-spacing:0;
width:160px;
display:block;
clear:both;
}
div#adspot_411974223 * img {
border-width:0;
border-spacing:0;
}
div#adspot_411974223 * li * img {
text-align:center;
display:block;
clear:both;
margin:auto;
}
div#adspot_411974223 .adspot_adtext_classic_adverpost {
font-family:Arial;
font-size:8pt;
font-weight:normal;
font-style:normal;
color:#000000;
margin:0;
border-spacing:0;
text-align:left;
}
div#adspot_411974223 div.adspot_link_classic_adverpost {
width:162px !important;
text-align:left;
}
div#adspot_411974223 div.adspot_adurl_classic_adverpost {
text-align:left;
}
div#adspot_411974223 div.adspot_img_classic_adverpost {
padding-top: 5px;
float:left;
width:auto;
}
div#adspot_411974223 div.adspot_img_large_adverpost {
text-align:center;
display:block;
clear:both;
margin:auto;
padding-top: 5px;
padding-bottom:5px;
}
div#adspot_411974223 div.adspot_main_ad_classic_adverpost {
padding-right: 5px;
border-color:#b3b6b9;
border-width:1px;
border-style:solid;
}
div#adspot_411974223 div.adspot_ad_large_adverpost {
border-color:#b3b6b9;
border-width:1px;
border-style:solid;
}
