        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 200px;
            left: 25%;
            width: 50%;
            height: 300px;
            padding: 16px;
            border: 1px solid orange;
            background-color: white;
            z-index:1002;
            overflow: auto;
            color: #000000;
        }